In [2]:
# import pandas
import pandas as pd

In [ ]:
# Optional: use the pd.set_option() to display all rows in a dataframe by default

# Create a DataFrame

In [3]:
# read the "bestsellers with categories" csv file (Dataset on Amazon's Top 50 bestselling books from 2009 to 2019.)
df = pd.read_csv("bestsellers with categories.csv")

In [4]:
# get access to the shape attribute
df.shape

(550, 7)

In [6]:
# find the data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

# Display a DataFrame

In [7]:
# show first 5 rows in a dataframe
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [8]:
# describe basic statistics of the dataframe (mean, std, min, max)
df.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column with an array

In [9]:
# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4

# 1. import numpy and create 550 random integer numbers between 1 and 4
import numpy as np

numbers = np.random.randint(1,4,550)

# 2. add new 'Critic Rating' column to dataframe using the random numbers created
df["Critic Rating"] = numbers


# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section.

In [10]:
# show first 5 rows
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,2
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,2

# Basic Attributes, Methods and Functions

In [11]:
# get access to the columns attribute
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critic Rating'],
      dtype='object')

# Selecting Two or More Columns from a Dataframe

In [12]:
# move the new 'Critic Rating' column between the columns "User Rating" and "Reviews" Then update the dataframe
df = df[['Name', 'Author', 'User Rating', 'Critic Rating', 'Reviews', 'Price', 'Year', 'Genre']]

# Tip: Copy and paste the column names obtained with the columns attribute and then rearrange elements using [[]]

In [13]:
# show first 5 rows
df.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction

# Operations on Dataframes

In [14]:
# create a column named "Average Rating" by using the following formula: Average Rating = (User Rating + Critic Rating)/2
df["Average Rating"] = (df["User Rating"] + df["Critic Rating"])/2

In [17]:
# use the round function to round the values of the dataframe to 1 decimal and update the dataframe
df= round(df,2)
df

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2,17350,8,2016,Non Fiction,3.35
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction,3.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction,2.85
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.35
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.40
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,9413,8,2019,Fiction,3.95
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2016,Non Fiction,3.85
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2017,Non Fiction,2.85
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.85
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2019,Non Fiction,3.35

# Value Counts

In [19]:
# count elements in "Genre" column by category and return the relative frequency 

round(df["Genre"].value_counts(normalize=True),2)

Genre
Non Fiction    0.56
Fiction        0.44
Name: proportion, dtype: float64

# Rename Columns

In [20]:
# rename columns "User Rating," "Critic Rating" and "Average Rating" to "UR," "CR" and "AR" then update the dataframe with the inplace paraneter

df.rename(columns={'User Rating':'UR',
                         'Critic Rating':'CR',
                         'Average Rating':'AR'}, inplace=True)

In [21]:
# show first 5 rows
df.head()

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,2,17350,8,2016,Non Fiction,3.35
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction,3.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction,2.85
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.35
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,2,7665,12,2019,Non Fiction,3.40

In [22]:
# select only "Name", "Author", "UR", "CR", "AR" and "Year" columns and update dataframe
df = df[["Name", "Author", "UR", "CR", "AR", 'Year']]

# Sort a dataframe

In [23]:
# sort the dataframe descending by "UR" and "CR"
df.sort_values(['UR', 'CR'], ascending=False)

,Name,Author,UR,CR,AR,Year
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,3,3.95,2017
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,3,3.95,2019
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,3,3.95,2018
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,3,3.95,2017
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,3,3.95,2019
...,...,...,...,...,...,...
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,3,3.45,2014
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,3,3.40,2013
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,2,2.90,2012
132,Go Set a Watchman: A Novel,Harper Lee,3.6,3,3.30,2015
353,The Casual Vacancy,J.K. Rowling,3.3,2,2.65,2012