In [ ]:
import pandas as pd
import numpy as np
import random

df_exams = pd.read_csv('StudentsPerformance.csv')

# Adding new column

In [ ]:
language_score = np.arange(0, 1000)

In [ ]:
df_exams['language score'] = language_score
df_exams

In [ ]:
# create random numbers for our new score columns
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)

# create a series using the random numbers
series1 = pd.Series(score1, index=np.arange(0, 1000))
series2 = pd.Series(score2, index=np.arange(0, 1000))

# using assign() to add multiple columns
df_exams = df_exams.assign(score1=series1, score2=series2)

df_exams

## insert ()

In [ ]:
# using insert() to add a column at a specific position
df_exams.insert(1, 'test', series1)

In [ ]:
df_exams

# Math Operations

## Operations in columns

In [ ]:
df_exams["math score"].sum()

In [ ]:
# count, mean, std, max, and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].std()
df_exams['math score'].max()
df_exams['math score'].min()

In [ ]:
# easier calculation with .describe()
df_exams.describe()

## Operations in rows

In [ ]:
# calculating the sum in a row
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

In [ ]:
# calculating the average score and assigning the result to a new column
df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3

df_exams

# Value Counts

In [ ]:
# counting gender elements

# len function
len(df_exams['gender'])
# .count() method
df_exams['gender'].count()

In [ ]:
# counting gender elements by category
df_exams['gender'].value_counts()

In [ ]:
# counting "parental level of education" elements by category
df_exams['parental level of education'].value_counts()

In [ ]:

# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True).round(2)

# Sorting a dataframe

In [ ]:
df_exams.sort_values("math score")

In [ ]:
# sort descending by multiple columns
df_exams.sort_values(['math score', 'reading score'], ascending=False)

In [ ]:
# sort descending with a key function
df_exams.sort_values(['race/ethnicity'], ascending=True, key=lambda a:a.str.lower())

# Index Creation

In [ ]:
# creating non repetitive values for the index
new_index = np.arange(0, 1000)
new_index

In [ ]:
# shuffling the indexes
random.shuffle(new_index)
new_index

In [ ]:
# create a new column with new index
df_exams['new_index'] = new_index
# create a new column with new index
df_exams['new_index'] = new_index

df_exams

In [ ]:
df_exams.sort_index()

# Rename Columns

In [ ]:
df_exams.rename(columns={"gender":"Gender"})

In [ ]:
# rename multiple columns and update the dataframe with inplace parameter
df_exams.rename(columns={'math score':'MS', 'reading score':'RS', 'writing score':'WS'}, inplace=True)

In [ ]:
df_exams.head()

# Rename Index

In [ ]:
# rename index 0, 1 and 2 and update the dataframe
df_exams.rename(index={0:'A', 1:'B', 2:'C'}, inplace=True)

In [ ]:
# show first 3 rows
df_exams.head(3)