In [ ]:
import pandas as pd
import numpy as np

df_exams = pd.read_csv('StudentsPerformance.csv')

# Adding new column

In [ ]:
language_score = np.arange(0, 1000)

In [ ]:
df_exams['language score'] = language_score
df_exams

In [ ]:
# create random numbers for our new score columns
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)

# create a series using the random numbers
series1 = pd.Series(score1, index=np.arange(0, 1000))
series2 = pd.Series(score2, index=np.arange(0, 1000))

# using assign() to add multiple columns
df_exams = df_exams.assign(score1=series1, score2=series2)

df_exams

## insert ()

In [ ]:
# using insert() to add a column at a specific position
df_exams.insert(1, 'test', series1)

In [ ]:
df_exams

# Math Operations

## Operations in columns

In [ ]:
df_exams["math score"].sum()

In [ ]:
# count, mean, std, max, and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].std()
df_exams['math score'].max()
df_exams['math score'].min()

In [ ]:
# easier calculation with .describe()
df_exams.describe()

## Operations in rows

In [ ]:
# calculating the sum in a row
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

In [ ]:
# calculating the average score and assigning the result to a new column
df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3

df_exams

# Value Counts

In [ ]:
# counting gender elements

# len function
len(df_exams['gender'])
# .count() method
df_exams['gender'].count()

In [ ]:
# counting gender elements by category
df_exams['gender'].value_counts()

In [ ]:
# counting "parental level of education" elements by category
df_exams['parental level of education'].value_counts()

In [ ]:

# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True).round(2)

# Sorting a dataframe

In [21]:
df_exams.sort_values("math score")

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,score1,score2,average
59,female,23,group C,some high school,free/reduced,none,0,17,10,59,23,92,9.000000
980,female,81,group B,high school,free/reduced,none,8,24,23,980,81,20,18.333333
17,female,69,group B,some high school,free/reduced,none,18,32,28,17,69,56,26.000000
787,female,63,group B,some college,standard,none,19,38,32,787,63,79,29.666667
145,female,12,group C,some college,free/reduced,none,22,39,33,145,12,46,31.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,female,80,group E,associate's degree,standard,none,100,100,100,962,80,88,100.000000
625,male,54,group D,some college,standard,completed,100,97,99,625,54,63,98.666667
916,male,57,group E,bachelor's degree,standard,completed,100,100,100,916,57,79,100.000000
458,female,27,group E,bachelor's degree,standard,none,100,100,100,458,27,97,100.000000
451,female,47,group E,some college,standard,none,100,92,97,451,47,62,96.333333